.adminlogin-div-1 {
    background: #232f3e;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
}

.adminlogin-div-2 {
    width: 80%;
    max-width: 400px;
    background-color: white;
    border-radius: 0.3rem;
    padding: 2rem;
}

.adminlogin-div-3 {
    margin-bottom: 1rem;
    text-align: right;
}

.adminlogin-button-1 {
    background: #febd69;
    width: 107%;
    height: 40px;
    margin-top: 15px;
    color: white;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

/* Adjust margin for the button to align with inputs */
.adminlogin-button-1 {
    margin-top: 15px;
    margin-bottom: 0; /* Remove bottom margin */
}

.adminlogin-h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: Roboto, sans-serif !important;
}

.adminlogin-p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Add media query for small screens */
@media only screen and (max-width: 768px) {
    .adminlogin-div-2 {
        width: 90%;
    }
}
